<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="GoogleDirectionsApiKey" value="" />
    <add key="GoogleGeocodeApiKey" value="AIzaSyB4Zk4bckNFRCuzsqxAR7BEwFNhQeBKnNc" />
    <add key="Destination" value=""/>
    <add key="MaxPrice" value="2000" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>